<p>
	<% @images.each do |image| %>
  	<%= link_to image_tag(image.image.thumb), image_path(image) %>
  	<%= link_to "Delete Image", image_path(image), method: :delete,
  	                                               data: { confirm: "Delete Image?" } %>
	<% end %>
</p>