<div class="container">
	<div class="row">
		<% @images.each do |image| %>
  		<div class="col-md-4" style="padding:1rem;">
  			<div class="card">
		  		<%= link_to image_tag(image.image.thumb), image_path(image) %>
	  			<%= link_to "Delete Image", image_path(image), method: :delete,
	  			                       			data: { confirm: "Delete Image?" }, class: "btn btn-info" %>
	  		</div>
			</div>
		<% end %>
	</div>
</div>